body {
  background-color: white;
  padding: 0px;
  font-family: Arial;
}
@media (min-width: 1200px) {
  .responsive-font-example {
    font-size: 20px;
  }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
  .responsive-font-example {
    font-size: 9px;
  }
}
@media (min-width: 1200px) {
  .responsive-font{
    font-size: 30px;
  }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
  .responsive-font {
    font-size: 30px;
  }
}
.flex {
  display: flex;
}
.no-wrap {
  flex-wrap: no-wrap;
}

.col {
  margin: .5em;
  background: #ccc;
  color: black;
  line-height: 5px;
}


@media (prefers-reduced-motion) {
  .flex {
    animation: none;
  }
}
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 40px;
  color:black;
  word-break: break-all;
  font-family:cambrila;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}  
.responsive {
  width: 100%;
  height: 200px;
}
/* Content */
.content {
  background-color: #e4e6eb;
  color:black;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn1 {
  border: none;
  outline: none;
  padding: 6px 8px;
  background-color: #ccc;
  cursor: pointer;
}

.btn1:hover {
  background-color: #ddd;
}

.btn1.active {
  background-color: #666;
  color: white;
}
.checked {
  color: orange;
}
.btn-circle.btn-sm {
    width: 250px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 10px;
    text-align: center;
}

.card {
  width: 180%;
  border:2px solid #c5c6d0;
  border-radius:10px;
}
hr
{
	height:1px;
	border-width:0;
	background-color:#ccc;
}